<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.honeybadgerapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	 
	
	<permission android:protectionLevel="signature"
	    android:name="com.example.honeybadgerapplication.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.example.honeybadgerapplication.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:configChanges="orientation"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UserHomePage"
            android:configChanges="orientation"
            android:label="@string/title_activity_user_home_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TellerHomePage"
            android:configChanges="orientation"
            android:label="@string/title_activity_teller_home_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreditDebit"
            android:configChanges="orientation"
            android:label="@string/title_activity_credit_debit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AccountTransfer"
            android:configChanges="orientation"
            android:label="@string/title_activity_account_transfer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CloseAccount"
            android:configChanges="orientation"
            android:label="@string/title_activity_close_account"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResetPassword"
            android:configChanges="orientation"
            android:label="@string/title_activity_reset_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TransactionHistory"
            android:label="@string/title_activity_transaction_history"
            android:configChanges="orientation" 
            android:screenOrientation="portrait">
            
        </activity>
        <activity
            android:name=".TellerCustomerInfo"
            android:label="@string/title_activity_teller_customer_info"
            android:configChanges="orientation" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TellerAddAccounts"
            android:label="@string/title_activity_teller_add_accounts"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:configChanges="orientation" 
            android:screenOrientation="portrait">
        </activity>
        <service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
		  <intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED" />
		    <action android:name="android.intent.action.USER_PRESENT" />
		  </intent-filter>
		</receiver>
		<receiver android:name="com.parse.ParsePushBroadcastReceiver"
		    android:exported="false">
		  <intent-filter>
		    <action android:name="com.parse.push.intent.RECEIVE" />
		    <action android:name="com.parse.push.intent.DELETE" />
		    <action android:name="com.parse.push.intent.OPEN" />
		    </intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND">
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		 
		    <category android:name="com.example.honeybadgerapplication" />
		  </intent-filter>
		</receiver>
		<receiver
            android:name="your.package.name.utils.Receiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
		
		   <meta-data android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher"/>
		   
		    </application>

</manifest>
